[url "https://"]
	insteadOf = git://
[url "https://github.com/"]
	insteadOf = git@github.com:
[user]
	email = yingyoh09@gmail.com
	name = Ying
[credential]
	helper = store
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
